<!DOCTYPE html>
<html class="x-admin-sm">
	<meta charset="UTF-8">
	<#include "../common/head.html"/>
	<@aHead title="后台登录-X-admin2.2" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

	<body>
		<div class="layui-fluid">
			<div class="layui-row">
				<form class="layui-form">
					<div class="layui-form-item">
						<label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>用户名
                        </label>
						<div class="layui-input-inline">
							<input type="text"  value="${(returnDatas.data.name)!''}" id="L_username" name="name" required="" lay-verify="nikename" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="" class="layui-form-label">
                            <span class="x-red">*</span>账号
                        </label>
						<div class="layui-input-inline">
							<input type="text"  value="${(returnDatas.data.account)!''}" id="L_account" name="account" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>邮箱
                        </label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.email)!''}" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input">
							<input type="hidden" value="${(returnDatas.data.id)!''}" id="L_id" name="id">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_role" class="layui-form-label">
                            <span class="x-red">*</span>角色
                        </label>
						<div class="layui-input-inline">
							<input type="hidden" name="roleIds" id="roleIds" value="" lay-verify="required"/>
                            <select style="width: 190px;" id="roleId" name="roleId" multiple="multiple">
								<#if (roleList??) && (roleList?size>0)>
	                            	<#list roleList as role>
	                            		<option value="${(role.id)!''}">${(role.roleName)!''}</option>
	                            	</#list>
	                            </#if>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_age" class="layui-form-label">
                            <span class="x-red">*</span>部门
                        </label>
						<div class="layui-input-inline">
							<input type="hidden" name="orgIds" id="orgIds" value="" lay-verify="required"/>
							<select class="layui-input-inline" id="orgId" name="orgId" multiple="multiple">
	                            <option value="">请选择</option>
	                            <#if (orgList??) && (orgList?size>0)>
	                            	<#list orgList as org>
	                            		<option value="${(org.id)!''}">${(org.orgName)!''}</option>
	                            	</#list>
	                            </#if>
	                        </select>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_age" class="layui-form-label">
                            <span class="x-red"></span>年龄
                        </label>
						<div class="layui-input-inline">
							<input type="number" value="${(returnDatas.data.age)!''}" id="L_age" name="age" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_age" class="layui-form-label">
                            <span class="x-red">*</span>性别
                        </label>
						<div class="layui-input-inline">
							<select class="layui-input-inline" id="sex" name="sex" required="" lay-verify="required" lay-search>
	                            <option value="">请选择</option>
	                            <option value="男">男</option>
	                            <option value="女">女</option>
	                        </select>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="" class="layui-form-label">
                            <span class="x-red">*</span>用户类型
                        </label>
						<div class="layui-input-inline">
							<select class="layui-input-inline" value="${(returnDatas.data.userType)!''}" id="userType" name="userType" required="" lay-verify="required" lay-search>
	                            <option value="">请选择</option>
	                            <option value="0">超级管理员</option>
	                            <option value="1">管理员</option>
	                            <option value="2">普通用户</option>
	                        </select>
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_hobby" class="layui-form-label">
                            <span class="x-red">*</span>爱好
                        </label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.hobby)!''}" name="hobby" lay-verify="required" required="" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_repass" class="layui-form-label"></label>
						<button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
				</form>
			</div>
		</div>
		<script>
			layui.use(['form', 'layer', 'jquery'],function() {
				$ = layui.jquery;
				var form = layui.form,
					layer = layui.layer;
				//自定义验证规则
				form.verify({
					nikename: function(value) {
						if(value.length < 2) {
							return '昵称至少得2个字符啊';
						}
					},
					
				});

				//监听提交
				form.on('submit(add)',function(data) {
					
					xadmin.ajaxPost("${base}/s/user/update",null,data.field,null,function(){
						//关闭当前frame
						xadmin.close();
						// 可以对父窗口进行刷新 
						xadmin.father_reload();
					});
					
					return false;
				});
				
				//角色
				var roleIds = "${(roleIds)!''}"
				if(!isNull(roleIds)){
					var roleId = roleIds.split(",");
					$('#roleId').val(roleId).trigger('change');
					$("#roleIds").val(roleIds);
				}
				
				//部门
				var orgIds = "${(orgIds)!''}"
				if(!isNull(orgIds)){
					debugger;
					console.log("orgIds123: " + orgIds)
					var orgId = orgIds.split(",");
					$('#orgId').val(orgId).trigger('change');
					$("#orgIds").val(orgIds);
				}
				
				var userType = "${(returnDatas.data.userType)!''}";
				if(!isNull(userType)){
					$("#userType").val(userType);
				}
				
				var sex = "${(returnDatas.data.sex)!''}";
				if(!isNull(sex)){
					$("#sex").val(sex);
				}
				
				form.render();

			});
			
			//角色
			$('#roleId').select2();
			//部门
			$('#orgId').select2();
			
			$('#roleId').change(function(){
	             var o=document.getElementById('roleId').getElementsByTagName('option');
	             var all="";
	             for(var i=0;i<o.length;i++){
	                 if(o[i].selected){
	                     all+=o[i].value+",";
	                 }
	             }
	             
	             all = all.substr(0, all.length - 1);//去掉末尾的逗号
	             $("#roleIds").val(all);//赋值给隐藏的文本框
	        })
	 
	 		//部门
	 		$('#orgId').change(function(){
	             var o=document.getElementById('orgId').getElementsByTagName('option');
	             var all="";
	             for(var i=0;i<o.length;i++){
	                 if(o[i].selected){
	                     all+=o[i].value+",";
	                 }
	             }
	             
	             all = all.substr(0, all.length - 1);//去掉末尾的逗号
	             $("#orgIds").val(all);//赋值给隐藏的文本框
	 			//console.log("orgIds: " + $("#orgIds").val())
	        })
			
		</script>
	</body>

</html>