<!DOCTYPE html>
<html class="x-admin-sm">
	<meta charset="UTF-8">
	<#include "../common/head.html"/>
	<@aHead title="后台登录-X-admin2.2" />

	<body>
		<div class="layui-fluid">
			<div class="layui-row">
				<form class="layui-form">
				
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>任务日志ID</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.id)!''}" id="id" name="id" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>任务名称</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.jobName)!''}" id="jobName" name="jobName" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>任务组名</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.jobGroup)!''}" id="jobGroup" name="jobGroup" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>调用目标字符串</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.invokeTarget)!''}" id="invokeTarget" name="invokeTarget" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>日志信息</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.jobMessage)!''}" id="jobMessage" name="jobMessage" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>执行状态（0正常 1失败）</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.active)!''}" id="active" name="active" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>异常信息</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.exceptionInfo)!''}" id="exceptionInfo" name="exceptionInfo" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>创建时间</label>
						<div class="layui-input-inline">
							<input type="text" value="${(returnDatas.data.createTime)!''}" id="createTime" name="createTime" required="" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label for="L_repass" class="layui-form-label"></label>
						<button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			layui.use(['form', 'layer', 'jquery'],function() {
				var form = layui.form,
					layer = layui.layer;
				//自定义验证规则
				form.verify({
					nikename: function(value) {
						if(value.length < 2) {
							return '昵称至少得2个字符啊';
						}
					},
					
				});
	
				//监听提交
				form.on('submit(add)',function(data) {
						
					xadmin.ajaxPost("${base}/s/jobLog/update",null,data.field,null,function(){
						//关闭当前frame
						xadmin.close();
						// 可以对父窗口进行刷新 
						xadmin.father_reload();
					});
				
					return false;
				});
				
				
				form.render();
	
			});
		</script>
	</body>

</html>