package ${package}.service.impl;

import java.util.List;
import java.util.Map;

import org.apache.commons.collections.CollectionUtils;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${package}.common.Page;
import ${package}.dao.${entryName}Mapper;
import ${package}.entry.${entryName};
import ${package}.service.I${entryName}Service;
import ${package}.utils.UUIDUtils;


@Service
public class ${entryName}ServiceImpl extends BaseServiceImpl implements I${entryName}Service {

	@Autowired
	private ${entryName}Mapper ${lowerCaseFirst}Dao;
	
	/**
	 * 导出方法调用
	 */
	@Override
	public <T> List<T> findListDataByParams(Object obj, Class<T> clazz, Page page) throws Exception {
		
		return (List<T>) find${entryName}List((${entryName}) obj, page);
	}
	

	@Override
	public void delete${entryName}(List ids) throws Exception {
		try {
		
			if (CollectionUtils.isNotEmpty(ids)) {
				${lowerCaseFirst}Dao.delete${entryName}(ids);
			}
		
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}

	@Override
	public void saveorupdate${entryName}(${entryName} ${lowerCaseFirst}, boolean all) throws Exception {
		try {
			if (StringUtils.isBlank(${lowerCaseFirst}.getId())) {
				String uuid = UUIDUtils.getUUID();
				${lowerCaseFirst}.setId(uuid);
				${lowerCaseFirst}Dao.save${entryName}(${lowerCaseFirst});
			}else {
				if (all) {
					//当为true时,不更新字段为null的数据
					${lowerCaseFirst}Dao.updateActive${entryName}(${lowerCaseFirst});
				}else {
					${lowerCaseFirst}Dao.update${entryName}(${lowerCaseFirst});
				}
			}
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}

	@Override
	public void save${entryName}List(List<${entryName}> ${lowerCaseFirst}List) throws Exception {
		try {
			for (${entryName} ${lowerCaseFirst} : ${lowerCaseFirst}List) {
				${lowerCaseFirst}Dao.save${entryName}(${lowerCaseFirst});
			}
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}
	
	
	@Override
	public int find${entryName}Count(${entryName} ${lowerCaseFirst}, Page page) throws Exception {
		try {
			return ${lowerCaseFirst}Dao.find${entryName}Count(${lowerCaseFirst}, page);
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}

	@Override
	public List<${entryName}> find${entryName}List(${entryName} ${lowerCaseFirst}, Page page) throws Exception {
		try {
			return ${lowerCaseFirst}Dao.find${entryName}List(${lowerCaseFirst}, page);
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}

	@Override
	public ${entryName} find${entryName}ById(String id) throws Exception {
		try {
			return ${lowerCaseFirst}Dao.find${entryName}ById(id);
		} catch (Exception e) {
			e.printStackTrace();
			throw new RuntimeException();
		}
	}

}
