<!DOCTYPE html>
<html class="x-admin-sm">
	<meta charset="UTF-8">
	<#include "../common/head.html"/>
	<@aHead title="后台登录-X-admin2.2" />
	<link rel="stylesheet" href="${base}/system/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link rel="stylesheet" href="${base}/system/zTree/css/demo.css" type="text/css">
	<script type="text/javascript" src="${base}/system/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="${base}/system/zTree/js/jquery.ztree.excheck-3.5.js"></script>

	<body>
		<div class="layui-fluid">
			<div class="layui-row">
				<form class="layui-form">
					<div class="layui-form-item">
						<label for="name" class="layui-form-label">
                            <span class="x-red">*</span>菜单名称</label>
						<div class="layui-input-inline">
							<input type="text" id="name" name="name" value="${(returnDatas.name)!''}" required="" lay-verify="required" autocomplete="off" class="layui-input"/>
							<input type="hidden" id="id" name="id" value="${(returnDatas.id)!''}" />
						</div>
					</div>
					<div class="layui-form-item">
						<label for="url" class="layui-form-label">
                            <span id="span" class="x-red"></span>url地址</label>
						<div class="layui-input-inline">
							<input type="text" id="url" name="url" value="${(returnDatas.url)!''}" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">选择父菜单</label>
						
						<div class="layui-input-inline">
							<input type="text" id="citySel" placeholder="选择父菜单" readonly class="layui-input" onclick="showMenu()">
							<input type="hidden" id="parentId" name="parentId"/>
						</div>
					</div>
					
					<div id="menuContent" class="menuContent" style="display:none; position: absolute; left: 126px; top: 137px; z-index: 5; background-color: rgb(255, 255, 253);">
						<ul id="treeDemo" class="ztree" style="margin-top:0; width:180px; height: 300px;"></ul>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="x-red">*</span>资源类型</label>
						<div class="layui-input-inline">
							<select name="menuType" class="layui-input-inline">
	                            <option value="1">菜单</option>
	                            <option value="2">按钮</option>
	                        </select>
						</div>
                    </div>
					
					<div class="layui-form-item">
						<label for="url" class="layui-form-label"><span id="span" class="x-red"></span>图标</label>
						<div class="layui-input-inline">
							<input type="text" id="icon" name="icon" value="${(returnDatas.icon)!''}" required="" lay-verify="" autocomplete="off" class="layui-input">
						</div>
					</div>
					
					<div class="layui-form-item">
		                <label class="layui-form-label"><span class="x-red">*</span>是否可用</label>
		                <div class="layui-input-block">
	                		<input type="radio" name="status" value="1" lay-skin="primary" title="是" checked="checked">
		                	<input type="radio" name="status" value="2" lay-skin="primary" title="否" >
		                </div>
	                </div>
					<div class="layui-form-item">
						<label for="sort" class="layui-form-label">
                            <span class="x-red">*</span>排序</label>
						<div class="layui-input-inline">
							<input type="text" id="sort" value="${(returnDatas.sort)!''}" name="sort" required="" lay-verify="number" autocomplete="off" class="layui-input"></div>
					</div>
					<div class="layui-form-item">
						<label for="L_repass" class="layui-form-label"></label>
						<button class="layui-btn" lay-filter="add" id="sub" lay-submit="">提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			layui.use(['form', 'layer'],
				function() {
					var form = layui.form,
						layer = layui.layer;
					
					//监听提交
					form.on('submit(add)',function(dataJson) {
						
						var params = dataJson.field;
						xadmin.ajaxPost("${base}/s/menu/update",null,params,null,function(){
							//关闭当前frame
							xadmin.close();
							// 可以对父窗口进行刷新 
							xadmin.father_reload();
						});
					
						return false;
					});
				});
		</script>
		
		<script type="text/javascript">
			var setting = {
				check: {
					enable: true,
					chkStyle: "radio",
	                radioType: "all"
				},
				view: {
					dblClickExpand: false
				},
				data: {
					simpleData: {
						enable: true
					}
				},
				callback: {
					beforeClick: beforeClick,
					onCheck: onCheck
				}
			};
	
			var zNodes =[
				
			 ];
			
			<#if (returnDatas.data??) && (returnDatas.data?size>0)>
		    	<#list returnDatas.data as menu>
			    	var node = {};
			    	var url = "${(menu.url)!''}";
			    	if(!url){
			    		node.id = "${(menu.id)!''}";
						node.pId = "${(menu.parentId)!''}";
						node.name = "${(menu.name)!''}";
						node.open = true;
			    	} else {
						node.id = "${(menu.id)!''}";
						node.pId = "${(menu.parentId)!''}";
						node.name = "${(menu.name)!''}";
					}
					zNodes.push(node);
		    	</#list>
		    </#if>
			
			function beforeClick(treeId, treeNode) {
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				zTree.checkNode(treeNode, !treeNode.checked, null, true);
				return false;
			}
			
			function onCheck(e, treeId, treeNode) {
				console.log(treeNode.id);
				console.log(treeNode.name);
				var cityObj = $("#citySel");
				cityObj.val(treeNode.name);
				$("#parentId").val(treeNode.id);
				/* cityObj.attr("value", v);
				console.log("ids: " + ids); */
			}
	
			function showMenu() {
				$("#menuContent").slideDown("fast");
				$("body").bind("mousedown", onBodyDown);
			}
			function hideMenu() {
				$("#menuContent").fadeOut("fast");
				$("body").unbind("mousedown", onBodyDown);
			}
			function onBodyDown(event) {
				if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
					hideMenu();
				}
			}
	
			$(document).ready(function(){
				$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			});
		</script>
		
	</body>

</html>