<!doctype html>
<html  class="x-admin-sm">
	<meta charset="UTF-8">
	<#include "common/head.html">
	<@aHead title="后台登录-X-admin2.2" />
	<link rel="stylesheet" href="${base}/system/css/login.css">
	
	<!-- 主体开始 -->
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">澜珊-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function () {
            layui.use('form', function(){
              var form = layui.form;
              //监听提交
              form.on('submit(login)', function(data){
            	$("input[name='password']").val(xadmin.md5(data.field.password));
            	data.field.password = xadmin.md5(data.field.password);
                $.ajax({
					type: "POST", //GET或POST,
					async:true, //默认设置为true，所有请求均为异步请求。
					url: "${base}/s/system/login/login",
					data: data.field,
					dataType: "json", //xml、html、script、jsonp、text
					success: function(dataResult) {
						if(dataResult && dataResult.status == 'success'){
							layer.msg("登陆成功", function() {
								location.href = '${base}/s/system/login/index'
							});
						}else{
							layer.alert(dataResult.message, {icon: 5});
						}
						return false;
					},
					error:function(dataResult){
						console.log("dataResult: " + JSON.stringify(dataResult))
						layer.alert('用户名或密码不正确', {icon: 5});
					},
				 });
                
                return false;
              });
              
            });
        })
    </script>
    
    <!-- 底部结束 -->
	<script type="text/javascript">
		/* 解决在ifream框架打开登录页 */
		$(function() {
			if (window != top) {
				top.location.href = location.href;
			}
		});
	</script>
    
</body>
</html>