<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${package}.dao.${entryName}Mapper">
	<!-- 数据库字段映射 -->
	<resultMap id="BaseResultMap"
		type="${package}.entry.${entryName}">
		
		<id column="id" property="id" jdbcType="VARCHAR" />
		<#if columnsList?exists && (columnsList?size gt 0)>
			<#list columnsList as fieldItem >
				<#if fieldItem.COLUMN_NAME != 'id'>
		<result column="${fieldItem.COLUMN_NAME}" property="${fieldItem.entryClumu}" />
				</#if>
			</#list>
		</#if>
	    
	</resultMap>
	
	
	<!-- 基础的数据库字段 -->
	<sql id="Base_Column_List">
		<#if columnsList?exists && (columnsList?size gt 0)>
			<#list columnsList as fieldItem >
				<#if columnsList?size == fieldItem_index + 1>
		${fieldItem.COLUMN_NAME}
				<#else>
		${fieldItem.COLUMN_NAME},
				</#if>
			</#list>
		</#if>
	</sql>
	
	
	<!-- 根据主键获取信息 -->
	<select id="find${entryName}ById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ${tableName}
		where id = ${jinghao}id${suffix}
	</select>
	
	
	<!-- 根据实体类获取集合 -->
	<select id="find${entryName}List" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ${tableName}
		where 1=1
<#if columnsList?exists && (columnsList?size gt 0)>
	<#list columnsList as fieldItem >
		<if test="${lowerCaseFirst}.${fieldItem.entryClumu} != null and ${lowerCaseFirst}.${fieldItem.entryClumu} != '' ">
			<#if fieldItem.DATA_TYPE == 'datetime'>
				and DATE_FORMAT(${fieldItem.COLUMN_NAME},'%Y-%m-%d') = DATE_FORMAT(${jinghao}${lowerCaseFirst}.${fieldItem.entryClumu}${suffix},'%Y-%m-%d')
			<#else>
				and ${fieldItem.COLUMN_NAME} = ${jinghao}${lowerCaseFirst}.${fieldItem.entryClumu}${suffix}
			</#if>
		</if>
	</#list>
</#if>
		ORDER BY id
		<if test="page != null and page.current != null and page.pageSize != null ">
			limit ${jinghao}page.current${suffix},${jinghao}page.pageSize${suffix}
		</if>
	</select>
	
	
	<!-- 根据实体类获取Count数量 -->
	<select id="find${entryName}Count" resultType="int">
		select
		count(id) totalCount
		from ${tableName}
		where 1=1
<#if columnsList?exists && (columnsList?size gt 0)>
	<#list columnsList as fieldItem >
		<if test="${lowerCaseFirst}.${fieldItem.entryClumu} != null and ${lowerCaseFirst}.${fieldItem.entryClumu} != '' ">
			<#if fieldItem.DATA_TYPE == 'datetime'>
				and DATE_FORMAT(${fieldItem.COLUMN_NAME},'%Y-%m-%d') = DATE_FORMAT(${jinghao}${lowerCaseFirst}.${fieldItem.entryClumu}${suffix},'%Y-%m-%d')
			<#else>
				and ${fieldItem.COLUMN_NAME} = ${jinghao}${lowerCaseFirst}.${fieldItem.entryClumu}${suffix}
			</#if>
		</if>
	</#list>
</#if>
	</select>
	
	
	<!-- 根据id删除数据 -->
	<update id="delete${entryName}">
		update ${tableName} set active=2
		where id in 
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			${jinghao}id${suffix}
		</foreach>
	</update>
	
	
	<!-- 动态添加数据 -->
	<insert id="save${entryName}"
		parameterType="${package}.entry.${entryName}">
		insert into ${tableName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
		
			<#if columnsList?exists && (columnsList?size gt 0)>
				<#list columnsList as fieldItem >
					<if test="${fieldItem.entryClumu} != null">
						${fieldItem.COLUMN_NAME},
					</if>
				</#list>
			</#if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<#if columnsList?exists && (columnsList?size gt 0)>
				<#list columnsList as fieldItem >
					<if test="${fieldItem.entryClumu} != null">
						${jinghao}${fieldItem.entryClumu}${suffix},
					</if>
				</#list>
			</#if>
		</trim>
	</insert>
	
	<!-- 动态修改数据 -->
	<update id="updateActive${entryName}" parameterType="map">
		update ${tableName}
		<set>
			<#if columnsList?exists && (columnsList?size gt 0)>
				<#list columnsList as fieldItem >
					<#if fieldItem.COLUMN_NAME != 'id'>
						<if test="${fieldItem.entryClumu} != null">
							${fieldItem.COLUMN_NAME} = ${jinghao}${fieldItem.entryClumu}${suffix},
						</if>
					</#if>
				</#list>
			</#if>
		</set>
		WHERE
		id=${jinghao}id,jdbcType=VARCHAR${suffix}
		
	</update>
	
	<!-- 修改数据 -->
	<update id="update${entryName}" parameterType="map">
		update ${tableName}
		set 
		<#if columnsList?exists && (columnsList?size gt 0)>
			<#list columnsList as fieldItem >
				<#if fieldItem.COLUMN_NAME != 'id'>
					<#if columnsList?size == fieldItem_index + 1>
					${fieldItem.COLUMN_NAME} = ${jinghao}${fieldItem.entryClumu}${suffix}
					<#else>
					${fieldItem.COLUMN_NAME} = ${jinghao}${fieldItem.entryClumu}${suffix},
					</#if>
				</#if>
			</#list>
		</#if>
		WHERE
		id=${jinghao}id${suffix}
	</update>
	
</mapper>