<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.lanshan.task.dao.JobLogMapper">
	<!-- 数据库字段映射 -->
	<resultMap id="BaseResultMap"
		type="com.han.lanshan.task.entry.JobLog">
		
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="job_name" property="jobName" />
		<result column="job_group" property="jobGroup" />
		<result column="invoke_target" property="invokeTarget" />
		<result column="job_message" property="jobMessage" />
		<result column="active" property="active" />
		<result column="exception_info" property="exceptionInfo" />
		<result column="create_time" property="createTime" />
	    
	</resultMap>
	
	
	<!-- 基础的数据库字段 -->
	<sql id="Base_Column_List">
		id,
		job_name,
		job_group,
		invoke_target,
		job_message,
		active,
		exception_info,
		create_time
	</sql>
	
	
	<!-- 根据主键获取信息 -->
	<select id="findJobLogById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from quartz_job_log
		where id = #{id}
	</select>
	
	
	<!-- 根据实体类获取集合 -->
	<select id="findJobLogList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from quartz_job_log
		where 1=1
		<if test="jobLog.id != null and jobLog.id != '' ">
				and id = #{jobLog.id}
		</if>
		<if test="jobLog.jobName != null and jobLog.jobName != '' ">
				and job_name = #{jobLog.jobName}
		</if>
		<if test="jobLog.jobGroup != null and jobLog.jobGroup != '' ">
				and job_group = #{jobLog.jobGroup}
		</if>
		<if test="jobLog.invokeTarget != null and jobLog.invokeTarget != '' ">
				and invoke_target = #{jobLog.invokeTarget}
		</if>
		<if test="jobLog.jobMessage != null and jobLog.jobMessage != '' ">
				and job_message = #{jobLog.jobMessage}
		</if>
		<if test="jobLog.active != null and jobLog.active != '' ">
				and active = #{jobLog.active}
		</if>
		<if test="jobLog.exceptionInfo != null and jobLog.exceptionInfo != '' ">
				and exception_info = #{jobLog.exceptionInfo}
		</if>
		<if test="jobLog.createTime != null and jobLog.createTime != '' ">
				and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{jobLog.createTime},'%Y-%m-%d')
		</if>
		ORDER BY id
		<if test="page != null and page.current != null and page.pageSize != null ">
			limit #{page.current},#{page.pageSize}
		</if>
	</select>
	
	
	<!-- 根据实体类获取Count数量 -->
	<select id="findJobLogCount" resultType="int">
		select
		count(id) totalCount
		from quartz_job_log
		where 1=1
		<if test="jobLog.id != null and jobLog.id != '' ">
				and id = #{jobLog.id}
		</if>
		<if test="jobLog.jobName != null and jobLog.jobName != '' ">
				and job_name = #{jobLog.jobName}
		</if>
		<if test="jobLog.jobGroup != null and jobLog.jobGroup != '' ">
				and job_group = #{jobLog.jobGroup}
		</if>
		<if test="jobLog.invokeTarget != null and jobLog.invokeTarget != '' ">
				and invoke_target = #{jobLog.invokeTarget}
		</if>
		<if test="jobLog.jobMessage != null and jobLog.jobMessage != '' ">
				and job_message = #{jobLog.jobMessage}
		</if>
		<if test="jobLog.active != null and jobLog.active != '' ">
				and active = #{jobLog.active}
		</if>
		<if test="jobLog.exceptionInfo != null and jobLog.exceptionInfo != '' ">
				and exception_info = #{jobLog.exceptionInfo}
		</if>
		<if test="jobLog.createTime != null and jobLog.createTime != '' ">
				and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{jobLog.createTime},'%Y-%m-%d')
		</if>
	</select>
	
	
	<!-- 根据id删除数据 -->
	<update id="deleteJobLog">
		update quartz_job_log set active=2
		where id in 
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	
	<!-- 动态添加数据 -->
	<insert id="saveJobLog"
		parameterType="com.han.lanshan.task.entry.JobLog">
		insert into quartz_job_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
		
					<if test="id != null">
						id,
					</if>
					<if test="jobName != null">
						job_name,
					</if>
					<if test="jobGroup != null">
						job_group,
					</if>
					<if test="invokeTarget != null">
						invoke_target,
					</if>
					<if test="jobMessage != null">
						job_message,
					</if>
					<if test="active != null">
						active,
					</if>
					<if test="exceptionInfo != null">
						exception_info,
					</if>
					<if test="createTime != null">
						create_time,
					</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
						#{id},
					</if>
					<if test="jobName != null">
						#{jobName},
					</if>
					<if test="jobGroup != null">
						#{jobGroup},
					</if>
					<if test="invokeTarget != null">
						#{invokeTarget},
					</if>
					<if test="jobMessage != null">
						#{jobMessage},
					</if>
					<if test="active != null">
						#{active},
					</if>
					<if test="exceptionInfo != null">
						#{exceptionInfo},
					</if>
					<if test="createTime != null">
						#{createTime},
					</if>
		</trim>
	</insert>
	
	<!-- 动态修改数据 -->
	<update id="updateActiveJobLog" parameterType="map">
		update quartz_job_log
		<set>
						<if test="jobName != null">
							job_name = #{jobName},
						</if>
						<if test="jobGroup != null">
							job_group = #{jobGroup},
						</if>
						<if test="invokeTarget != null">
							invoke_target = #{invokeTarget},
						</if>
						<if test="jobMessage != null">
							job_message = #{jobMessage},
						</if>
						<if test="active != null">
							active = #{active},
						</if>
						<if test="exceptionInfo != null">
							exception_info = #{exceptionInfo},
						</if>
						<if test="createTime != null">
							create_time = #{createTime},
						</if>
		</set>
		WHERE
		id=#{id,jdbcType=VARCHAR}
		
	</update>
	
	<!-- 修改数据 -->
	<update id="updateJobLog" parameterType="map">
		update quartz_job_log
		set 
					job_name = #{jobName},
					job_group = #{jobGroup},
					invoke_target = #{invokeTarget},
					job_message = #{jobMessage},
					active = #{active},
					exception_info = #{exceptionInfo},
					create_time = #{createTime}
		WHERE
		id=#{id}
	</update>
	
</mapper>