<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.lanshan.system.dao.OrgMapper">
	<!-- 数据库字段映射 -->
	<resultMap id="BaseResultMap"
		type="com.han.lanshan.system.entry.Org">
		
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="orgName" property="orgName" />
		<result column="describe" property="describe" />
		<result column="createUser" property="createUser" />
		<result column="createDate" property="createDate" />
		<result column="updateUser" property="updateUser" />
		<result column="updateDate" property="updateDate" />
		<result column="active" property="active" />
		<result column="bak1" property="bak1" />
		<result column="bak2" property="bak2" />
		<result column="bak3" property="bak3" />
	    
	</resultMap>
	
	
	<!-- 基础的数据库字段 -->
	<sql id="Base_Column_List">
		id,
		orgName,
		`describe`,
		createUser,
		createDate,
		updateUser,
		updateDate,
		active,
		bak1,
		bak2,
		bak3
	</sql>
	
	
	<!-- 根据主键获取信息 -->
	<select id="findOrgById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_org
		where id = #{id}
	</select>
	
	
	<!-- 根据实体类获取集合 -->
	<select id="findOrgList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_org
		where 1=1
		<if test="org.id != null and org.id != '' ">
				and id = #{org.id}
		</if>
		<if test="org.orgName != null and org.orgName != '' ">
			and orgName like CONCAT('%',#{org.orgName},'%')
		</if>
		<if test="org.describe != null and org.describe != '' ">
				and `describe` = #{org.describe}
		</if>
		<if test="org.createUser != null and org.createUser != '' ">
				and createUser = #{org.createUser}
		</if>
		<if test="org.createDate != null and org.createDate != '' ">
				and DATE_FORMAT(createDate,'%Y-%m-%d') = DATE_FORMAT(#{org.createDate},'%Y-%m-%d')
		</if>
		<if test="org.updateUser != null and org.updateUser != '' ">
				and updateUser = #{org.updateUser}
		</if>
		<if test="org.updateDate != null and org.updateDate != '' ">
				and DATE_FORMAT(updateDate,'%Y-%m-%d') = DATE_FORMAT(#{org.updateDate},'%Y-%m-%d')
		</if>
		<if test="org.active != null and org.active != '' ">
				and active = #{org.active}
		</if>
		<if test="org.bak1 != null and org.bak1 != '' ">
				and bak1 = #{org.bak1}
		</if>
		<if test="org.bak2 != null and org.bak2 != '' ">
				and bak2 = #{org.bak2}
		</if>
		<if test="org.bak3 != null and org.bak3 != '' ">
				and bak3 = #{org.bak3}
		</if>
		ORDER BY id
		<if test="page != null and page.current != null and page.pageSize != null ">
			limit #{page.current},#{page.pageSize}
		</if>
	</select>
	
	
	<!-- 根据实体类获取Count数量 -->
	<select id="findOrgCount" resultType="int">
		select
		count(id) totalCount
		from t_org
		where 1=1
		<if test="org.id != null and org.id != '' ">
				and id = #{org.id}
		</if>
		<if test="org.orgName != null and org.orgName != '' ">
				and orgName = #{org.orgName}
		</if>
		<if test="org.describe != null and org.describe != '' ">
				and `describe` = #{org.describe}
		</if>
		<if test="org.createUser != null and org.createUser != '' ">
				and createUser = #{org.createUser}
		</if>
		<if test="org.createDate != null and org.createDate != '' ">
				and DATE_FORMAT(createDate,'%Y-%m-%d') = DATE_FORMAT(#{org.createDate},'%Y-%m-%d')
		</if>
		<if test="org.updateUser != null and org.updateUser != '' ">
				and updateUser = #{org.updateUser}
		</if>
		<if test="org.updateDate != null and org.updateDate != '' ">
				and DATE_FORMAT(updateDate,'%Y-%m-%d') = DATE_FORMAT(#{org.updateDate},'%Y-%m-%d')
		</if>
		<if test="org.active != null and org.active != '' ">
				and active = #{org.active}
		</if>
		<if test="org.bak1 != null and org.bak1 != '' ">
				and bak1 = #{org.bak1}
		</if>
		<if test="org.bak2 != null and org.bak2 != '' ">
				and bak2 = #{org.bak2}
		</if>
		<if test="org.bak3 != null and org.bak3 != '' ">
				and bak3 = #{org.bak3}
		</if>
	</select>
	
	
	<!-- 根据id删除数据 -->
	<update id="deleteOrg">
		update t_org set active=2
		where id in 
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	
	<!-- 动态添加数据 -->
	<insert id="saveOrg"
		parameterType="com.han.lanshan.system.entry.Org">
		insert into t_org
		<trim prefix="(" suffix=")" suffixOverrides=",">
		
					<if test="id != null">
						id,
					</if>
					<if test="orgName != null">
						orgName,
					</if>
					<if test="describe != null">
						`describe`,
					</if>
					<if test="createUser != null">
						createUser,
					</if>
					<if test="createDate != null">
						createDate,
					</if>
					<if test="updateUser != null">
						updateUser,
					</if>
					<if test="updateDate != null">
						updateDate,
					</if>
					<if test="active != null">
						active,
					</if>
					<if test="bak1 != null">
						bak1,
					</if>
					<if test="bak2 != null">
						bak2,
					</if>
					<if test="bak3 != null">
						bak3,
					</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
						#{id},
					</if>
					<if test="orgName != null">
						#{orgName},
					</if>
					<if test="describe != null">
						#{describe},
					</if>
					<if test="createUser != null">
						#{createUser},
					</if>
					<if test="createDate != null">
						#{createDate},
					</if>
					<if test="updateUser != null">
						#{updateUser},
					</if>
					<if test="updateDate != null">
						#{updateDate},
					</if>
					<if test="active != null">
						#{active},
					</if>
					<if test="bak1 != null">
						#{bak1},
					</if>
					<if test="bak2 != null">
						#{bak2},
					</if>
					<if test="bak3 != null">
						#{bak3},
					</if>
		</trim>
	</insert>
	
	<!-- 动态修改数据 -->
	<update id="updateActiveOrg" parameterType="map">
		update t_org
		<set>
						<if test="orgName != null">
							orgName = #{orgName},
						</if>
						<if test="describe != null">
							`describe` = #{describe},
						</if>
						<if test="createUser != null">
							createUser = #{createUser},
						</if>
						<if test="createDate != null">
							createDate = #{createDate},
						</if>
						<if test="updateUser != null">
							updateUser = #{updateUser},
						</if>
						<if test="updateDate != null">
							updateDate = #{updateDate},
						</if>
						<if test="active != null">
							active = #{active},
						</if>
						<if test="bak1 != null">
							bak1 = #{bak1},
						</if>
						<if test="bak2 != null">
							bak2 = #{bak2},
						</if>
						<if test="bak3 != null">
							bak3 = #{bak3},
						</if>
		</set>
		WHERE
		id=#{id,jdbcType=VARCHAR}
		
	</update>
	
	<!-- 修改数据 -->
	<update id="updateOrg" parameterType="map">
		update t_org
		set 
					orgName = #{orgName},
					`describe` = #{describe},
					createUser = #{createUser},
					createDate = #{createDate},
					updateUser = #{updateUser},
					updateDate = #{updateDate},
					active = #{active},
					bak1 = #{bak1},
					bak2 = #{bak2},
					bak3 = #{bak3}
		WHERE
		id=#{id}
	</update>
	
</mapper>