<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.lanshan.system.dao.RoleMenuMapper">
	<!-- 数据库字段映射 -->
	<resultMap id="BaseResultMap"
		type="com.han.lanshan.system.entry.RoleMenu">
		
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="roleId" property="roleId" />
		<result column="menuId" property="menuId" />
		<result column="createUser" property="createUser" />
		<result column="createDate" property="createDate" />
		<result column="updateUser" property="updateUser" />
		<result column="updateDate" property="updateDate" />
		<result column="active" property="active" />
	    
	</resultMap>
	
	<!-- 数据库字段映射 -->
	<resultMap id="MenuMap"
		type="com.han.lanshan.system.entry.Menu">
		
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="sort" property="sort" />
		<result column="menu_type" property="menuType" />
		<result column="url" property="url" />
		<result column="icon" property="icon" />
		<result column="active" property="active" />
		<result column="level" property="level" />
	    
	</resultMap>
	
	
	<!-- 基础的数据库字段 -->
	<sql id="Base_Column_List">
		id,
		roleId,
		menuId,
		createUser,
		createDate,
		updateUser,
		updateDate,
		active
	</sql>
	
	
	<!-- 根据主键获取信息 -->
	<select id="findRoleMenuById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_role_menu
		where id = #{id}
	</select>
	
	
	<!-- 根据实体类获取集合 -->
	<select id="findRoleMenuList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role_menu
		where 1=1
		<if test="roleMenu.id != null and roleMenu.id != '' ">
				and id = #{roleMenu.id}
		</if>
		<if test="roleMenu.roleId != null and roleMenu.roleId != '' ">
				and roleId = #{roleMenu.roleId}
		</if>
		<if test="roleMenu.menuId != null and roleMenu.menuId != '' ">
				and menuId = #{roleMenu.menuId}
		</if>
		<if test="roleMenu.createUser != null and roleMenu.createUser != '' ">
				and createUser = #{roleMenu.createUser}
		</if>
		<if test="roleMenu.createDate != null and roleMenu.createDate != '' ">
				and DATE_FORMAT(createDate,'%Y-%m-%d') = DATE_FORMAT(#{roleMenu.createDate},'%Y-%m-%d')
		</if>
		<if test="roleMenu.updateUser != null and roleMenu.updateUser != '' ">
				and updateUser = #{roleMenu.updateUser}
		</if>
		<if test="roleMenu.updateDate != null and roleMenu.updateDate != '' ">
				and DATE_FORMAT(updateDate,'%Y-%m-%d') = DATE_FORMAT(#{roleMenu.updateDate},'%Y-%m-%d')
		</if>
		<if test="roleMenu.active != null and roleMenu.active != '' ">
				and active = #{roleMenu.active}
		</if>
		ORDER BY id
		<if test="page != null and page.current != null and page.pageSize != null ">
			limit #{page.current},#{page.pageSize}
		</if>
	</select>
	
	
	<!-- 根据实体类获取Count数量 -->
	<select id="findRoleMenuCount" resultType="int">
		select
		count(id) totalCount
		from t_role_menu
		where 1=1
		<if test="roleMenu.id != null and roleMenu.id != '' ">
				and id = #{roleMenu.id}
		</if>
		<if test="roleMenu.roleId != null and roleMenu.roleId != '' ">
				and roleId = #{roleMenu.roleId}
		</if>
		<if test="roleMenu.menuId != null and roleMenu.menuId != '' ">
				and menuId = #{roleMenu.menuId}
		</if>
		<if test="roleMenu.createUser != null and roleMenu.createUser != '' ">
				and createUser = #{roleMenu.createUser}
		</if>
		<if test="roleMenu.createDate != null and roleMenu.createDate != '' ">
				and DATE_FORMAT(createDate,'%Y-%m-%d') = DATE_FORMAT(#{roleMenu.createDate},'%Y-%m-%d')
		</if>
		<if test="roleMenu.updateUser != null and roleMenu.updateUser != '' ">
				and updateUser = #{roleMenu.updateUser}
		</if>
		<if test="roleMenu.updateDate != null and roleMenu.updateDate != '' ">
				and DATE_FORMAT(updateDate,'%Y-%m-%d') = DATE_FORMAT(#{roleMenu.updateDate},'%Y-%m-%d')
		</if>
		<if test="roleMenu.active != null and roleMenu.active != '' ">
				and active = #{roleMenu.active}
		</if>
	</select>
	
	
	<!-- 根据id删除数据 -->
	<update id="deleteRoleMenu">
		delete from t_role_menu 
		where id in 
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	
	<!-- 动态添加数据 -->
	<insert id="saveRoleMenu"
		parameterType="com.han.lanshan.system.entry.RoleMenu">
		insert into t_role_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
		
			<if test="id != null">
				id,
			</if>
			<if test="roleId != null">
				roleId,
			</if>
			<if test="menuId != null">
				menuId,
			</if>
			<if test="createUser != null">
				createUser,
			</if>
			<if test="createDate != null">
				createDate,
			</if>
			<if test="updateUser != null">
				updateUser,
			</if>
			<if test="updateDate != null">
				updateDate,
			</if>
			<if test="active != null">
				active,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="roleId != null">
				#{roleId},
			</if>
			<if test="menuId != null">
				#{menuId},
			</if>
			<if test="createUser != null">
				#{createUser},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="updateUser != null">
				#{updateUser},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="active != null">
				#{active},
			</if>
		</trim>
	</insert>
	
	<!-- 动态修改数据 -->
	<update id="updateActiveRoleMenu" parameterType="map">
		update t_role_menu
		<set>
			<if test="roleId != null">
				roleId = #{roleId},
			</if>
			<if test="menuId != null">
				menuId = #{menuId},
			</if>
			<if test="createUser != null">
				createUser = #{createUser},
			</if>
			<if test="createDate != null">
				createDate = #{createDate},
			</if>
			<if test="updateUser != null">
				updateUser = #{updateUser},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate},
			</if>
			<if test="active != null">
				active = #{active},
			</if>
		</set>
		WHERE
		id=#{id,jdbcType=VARCHAR}
		
	</update>
	
	<!-- 修改数据 -->
	<update id="updateRoleMenu" parameterType="map">
		update t_role_menu
		set 
			roleId = #{roleId},
			menuId = #{menuId},
			createUser = #{createUser},
			createDate = #{createDate},
			updateUser = #{updateUser},
			updateDate = #{updateDate},
			active = #{active}
		WHERE
		id=#{id}
	</update>
	
	<!-- 根据实体类获取集合 -->
	<select id="findRoleMenuByRoleId" resultMap="MenuMap">
		SELECT
			m.*
		FROM
			`t_role_menu` rm,
			t_menu m
		WHERE
			rm.menuId = m.id
		AND m.active = 1
		AND rm.roleId = #{roleId};
	</select>
	
</mapper>